.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  text-align: left;
  margin: 0;
  align-self: start;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: clamp(54px, 7.03125vw, 72px);
    max-width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: clamp(32px, 5.46875vw, 42px);
    line-height: 1.1;
  }
}

@media screen and (max-width: 730px) {
  .place__title {
    font-size: 32px;
    margin: 0 16px 32px 16px;
  }
}
