.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  place-items: center;
  column-gap: 16px;
  row-gap: 13px;
}

@media screen and (max-width: 1152px) {
  .page__photo-grid {
    padding: 0;
    max-width: 956px;
    margin: 0 auto 92 px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
  }
}


@media screen and (max-width: 820px) {
  .photo-grid {
    gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    gap: 12px;
  }
}

