.lead__subtitle {
  font-size: clamp(16px, 3.90625vw, 30px);
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 64px;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: clamp(288px, 83.3vw, 640px);
    margin-bottom: clamp(40px, 7.291666666666667vw, 56px);
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    line-height: 1.25;
  }
}
