.place__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: opacity 350ms ease;
}

.place__link:hover {
  opacity: .8;
}
