.footer__item {
  margin-right: 19px;
}

.footer__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 505px) {
  .footer__item {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .footer__item:last-child {
    margin-bottom: 0;
  }

}
