.cover__title {
  font-size: clamp(32px, 9.375vw, 72px);
  font-weight: 900;
  line-height: 1.05;
  text-align: center;
  max-width: 560px;
  margin: 0 auto clamp(16px, 4.166666666666667vw, 32px);
  color: #fff;
  text-decoration: none;
  z-index: 2;
}

@media screen and (max-width: 748px) {
  .cover__title {
    line-height: 1.1;
    max-width: 493px;
  }
}

@media screen and (max-width: 659px) {
  .cover__title {
    max-width: 434px;
  }
}

@media screen and (max-width: 580px) {
  .cover__title {
    max-width: 382px;
  }
}

@media screen and (max-width: 510px) {
  .cover__title {
    max-width: 336px;
  }
}

@media screen and (max-width: 505px) {
  .cover__title {
    max-width: 333px;
  }
}

@media screen and (max-width: 445px) {
  .cover__title {
    max-width: 293px;
  }
}

@media screen and (max-width: 391px) {
  .cover__title {
    max-width: 258px;
  }
}

@media screen and (max-width: 344px) {
  .cover__title {
    max-width: 227px;
  }
}

