.place {
  display: grid;
  grid-template-columns: 460px 484px;
  justify-content: center;
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: clamp(720px, 0.90625vw, 928px);
    grid-template-columns: clamp(340px, 42.96875vw, 440px) clamp(352px, 44.53125vw, 456px);
    column-gap: clamp(28px, 3.125vw, 32px);
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: clamp(600px, 93.75vw, 720px);
    grid-template-columns: clamp(250px, 44.27083333333333vw, 340px) clamp(250px, 45.83333333333333vw, 352px);
  }
}

@media screen and (max-width: 730px) {
  .place {
    display: block;
  }
}
