.place__website {
  flex-basis: 484px;
  align-self: flex-end;
}

@media screen and (max-width: 1024px) {
  .place__website {
    flex-basis: 456px;
  }
}

/* .place__website {
  align-self: end;
}

@media screen and (max-width: 730px) {
  .place__website {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
  }
} */
