.intro__title {
  font-size: clamp(32px, 7.03125vw, 54px);
  /* font-size: 54px; */
  font-weight: 900;
  line-height: 1.07;
  text-align: left;
  margin: 0;
  margin-bottom: 40px;
  max-width: 690px;
}

@media screen and (max-width: 820px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.1;
  }
}
